<link rel="stylesheet" href="{{ url_for('static', filename='styles/tasks.css') }}">
<h1>To Do List</h1>

<!-- Mostrar mensaje de error -->
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<!-- Formulario para añadir una nueva tarea -->
<form method="POST" action="/tasks">
    <input type="text" id="task-input" name="task" placeholder="New Task" required>
    
    <!-- Selector de prioridad -->
    <label for="priority">Priority:</label>
    <select id="priority-select" name="priority" required>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3" selected>Low</option>
    </select>
    
    <button id="add-task-button" type="submit">Add Task</button>
</form>

<!-- Lista de tareas -->
<ul>
    {% for task in tasks %}
    <li>
        <!-- Mostrar la tarea como título -->
        <div class="task-container">
            <h2 class="task-title">{{ task.task }}</h2>
            <p class="task-priority">
                Priority: 
                {% if task.priority == 1 %} High
                {% elif task.priority == 2 %} Medium
                {% else %} Low
                {% endif %}
            </p>
        </div>

        <!-- Formulario para editar la tarea -->
        <form method="POST" action="/edit_task/{{ task.id }}">
            <input type="text" id="edit-task-input-{{ task.id }}" name="task" value="{{ task.task }}" required>
            
            <label for="priority-{{ task.id }}">Priority:</label>
            <select id="edit-priority-select-{{ task.id }}" name="priority" required>
                <option value="1" {% if task.priority == 1 %}selected{% endif %}>High</option>
                <option value="2" {% if task.priority == 2 %}selected{% endif %}>Medium</option>
                <option value="3" {% if task.priority == 3 %}selected{% endif %}>Low</option>
            </select>
            
            <button id="edit-task-button-{{ task.id }}" type="submit">Edit</button>
        </form>

        <!-- Enlace para eliminar la tarea -->
        <form method="GET" action="/delete_task/{{ task.id }}">
            <button id="delete-task-button-{{ task.id }}" type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>


<div class="action-buttons">
    <a href="/weatherstack" class="weather-button">Check Weather with Weatherstack</a>
    <a href="/logout" class="logout-button">Logout</a>
</div>




