.header{
    font-size: large;
    font-weight: bold;
}

header{
    padding: 20px;
    background-color: #333333;
}

main{
    padding-right: 150px;
    background-color: #f2994a;
}

section{
    padding-left: 150px;
    background-color: #f2c34c;
}

.google-button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.google-button img {
    vertical-align: middle;
}

.google-button:hover {
    background-color: #357ae8;
}
